.footer {
	.hl {
		margin: 80px 100px 30px 100px;
		border-bottom: 1px solid #e0e0e0;
	}

	.text {
		margin: 20px 200px 50px 200px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left {
			span {
				font-weight: 600;
			}
		}
		.right {
			span {
				font-weight: 600;
			}
		}
	}
}
