* {
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
}

.landingpage-layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-track:hover {
	background: #555;
}

*:not(input):not(textarea) {
	-webkit-user-select: none; /* Chrome, Safari, Opera */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE/Edge */
	user-select: none;
}

/* enable text selection for specific elements */
.your-element {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
