.container-summary {
	margin: 0 500px 0 500px;
	padding: 30px 0 0 0;

	.section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.orderSummary {
			h3 {
				padding-top: 30px;
			}
		}

		.orderItems {
			.order-container {
				margin-top: 30px;
				.order {
					display: flex;
					margin-bottom: 50px;
					img {
						height: 160px;
						width: 140px;
						object-fit: cover;
						margin-right: 40px;
					}

					.info {
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						flex-direction: column;

						.price {
							margin-top: 30px;
							font-size: 18px;
							font-weight: bold;
							color: #148be7;
						}
					}
				}
				.hl {
					margin-top: 20px;
					margin-bottom: 30px;
					width: 100%;
					border-bottom: 1px solid #e0e0e0;
				}

				table {
					width: 100%;
					border-collapse: collapse;

					tr {
						border-bottom: 1px solid #b2b2b2;
						border-left: 0px solid;
						border-right: 0px solid;
						border-top: 0px solid;
						height: 50px;
					}
					.total {
						color: #148be7;
						font-weight: 600;
					}
				}
			}
		}
	}
}
